# Системные файлы
.DS_Store
Thumbs.db

# Файлы редакторов
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Зависимости
node_modules/
vendor/

# Файлы сборки
dist/
build/
public/

# Временные файлы
*.log
*.tmp
.temp
.tmp 